@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .headerLi {
    @apply text-primaryColor cursor-pointer duration-300;
  }
}

/* .banner-background {
  background-image: url(/images/landscape.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
} */
